#!/bin/bash
set -e -x
exec > >(tee /var/log/user-data.log|logger -t user-data -s 2>/dev/console) 2>&1

# -----------------------------------------------------------------------------
#  BASE INSTALL
# -----------------------------------------------------------------------------

function install_docker_ce() {
  sudo amazon-linux-extras install docker=stable
  sudo systemctl enable docker
  sudo systemctl start docker
  sudo usermod -a -G docker ec2-user
}

function get_instance_id() {
  local __ec2_metadata_token
  __ec2_metadata_token=$(curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600")
  curl -H "X-aws-ec2-metadata-token: $${__ec2_metadata_token}" --silent --location "http://169.254.169.254/latest/meta-data/instance-id/"
}

install_docker_ce

# -----------------------------------------------------------------------------
#  USER SUPPLIED SCRIPT
# -----------------------------------------------------------------------------

# shellcheck disable=SC2154
${user_supplied_script}
